


<h1>Liste des Offres</h1>
<div class="row row-cols g-4 p-auto m-auto">
    <div class="input-group col m-auto mt-2" style="min-width: 150px;max-width: 230px;width: 100%;">
        <select name="Période" [(ngModel)]="filteradress" class="form-select">
            <option value="" >--Adresse--</option>
            <option *ngFor="let item of adress" [value]="item"> {{item}} </option>
    </select>
    </div>
    <div class="input-group col m-auto mt-2" style="min-width: 150px;max-width: 230px;width: 100%;">
        <select name="Période" [(ngModel)]="filtersecteurs" class="form-select">
            <option value="" >--Secteurs--</option>
            <option *ngFor="let item of secteurs" [value]="item"> {{item}} </option>
    </select>
    </div>
</div>
<div class="container">
    <div *ngFor="let i of filtredOffres()" class="card">
        <div class="card-img">
            <img [src]="i.logo"  class="formation-image">
        </div>
        <div class="card-body">
            <h3 class="formation-name">{{i.titre}}</h3>
            <p > de {{i.date_debut | date : "d/M/yy"}} jusqu'à {{i.date_fin |  date : "d/M/yy"}} </p>
            <p class="formation-date">{{i.description }}</p>
            <p>Nombre de stagiaires requis : {{i.nombre}}</p>
            <button class="btn btn-primary" (click)="redirectToDepotOffre(i.id_os)">Soumettre</button>
        </div>
    </div>
</div>
