<div class="container mt-3" >
    <div class="profile ">
      <h1 class="mb-2">Liste Des Proposition Publiées</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr class="table-secondary">
                    <th>#</th>
                    <th>Sujet</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Type de stage</th>
                    <th>Nombre d'étudiants</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="offres.length != 0 ">
                    <tr *ngFor="let i of offres; let x = index">
                    <td>{{x+1}}</td>
                    <td>{{i.titre}}</td>
                    <td>{{i.date_debut | date : "d/M/y"}} - {{i.date_fin | date : "d/M/y"}}</td>
                    <td>{{i.description}}</td>
                    <td>{{ typeStage(i.type) }}</td>
                    <td>{{i.nombre}}</td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm" (click)="supprimerOffre(i.id_os)">Supprimer</button>
                    </td>
                </ng-container>
                <ng-container *ngIf="offres.length == 0 ">
                    <tr><td colspan="7" class="text-center">Aucune proposition publiée</td></tr>
                </ng-container>
            </tbody>
        </table>
    </div>
  </div>