
<div class="container mt-3">
    <select class="form-select mb-3" [(ngModel)]="selectedStage"  >
      <option selected hidden value="">Selectionner Stage</option>
        <option *ngFor="let stage of stages" [ngValue]="stage">{{ stage.titre }}</option>
    </select>
  </div>


<div class="container mx-auto mt-3 mb-5" *ngIf="selectedStage.valide != null">
    <div class="alert " [ngClass]="{'alert-success': selectedStage.valide , 'alert-danger': !selectedStage.valide}"  role="alert">
        <h4 *ngIf="selectedStage.valide" class="alert-heading">Félicitation!</h4>
        <h4 *ngIf="!selectedStage.valide" class="alert-heading"> Dommage! </h4>
        <h5>{{ selectedStage.titre }}</h5>
        <p>{{ selectedStage.description }}</p>
        <p>Entreprise : <b>{{selectedStage.nom}}</b> </p>
        <p><b> {{getNomStage(selectedStage.type)}} </b></p>
        <p *ngIf="selectedStage.id_enc != null">Encadrant : <b>{{ getEncadrantNom(selectedStage.id_enc) }}</b></p>
        <p>Date de soutenance: <b>{{ selectedStage.date_sout | date : "d/M/yyyy" }}</b></p>
        <p>Note Soutenance : <b>{{selectedStage.note}} </b></p>

        <dl>
            <dt>Jurie(s)</dt>
            <dd *ngFor="let j of selectedStage.juries" class="mx-3">{{ getEncadrantNom(j) }}</dd>
        </dl>

        <dl>
            <dt>Les taches effectuées</dt>
            <dd *ngFor="let tache of selectedStage.livret_stage" class="mx-3">{{ tache.date | date : "d/M/yyyy" }} : {{ tache.tache }}</dd>
        </dl>

    </div>
</div>
  


<div class="container mx-auto mt-3 mb-5" *ngIf="selectedStage.valide == null">

    <div class="alert alert-info">

        <h4 class="alert-heading">Information</h4>
        <h5>{{ selectedStage.titre }}</h5>
        <p>{{ selectedStage.description }}</p>
        <p>Entreprise : <b>{{selectedStage.nom}}</b> </p>
        <p><b> {{getNomStage(selectedStage.type)}} </b></p>
        <p *ngIf="selectedStage.id_enc != null">Encadrant : <b>{{ getEncadrantNom(selectedStage.id_enc) }}</b></p>
        <p *ngIf="selectedStage.date_sout != null" >Date de soutenance: <b>{{ selectedStage.date_sout | date : "d/M/yyyy" }}</b></p>

        <dl *ngIf="selectedStage.juries.length != 0">
            <dt>Jurie(s)</dt>
            <dd *ngFor="let j of selectedStage.juries" class="mx-3">{{ getEncadrantNom(j) }}</dd>
        </dl>
    </div>

    <button class="btn btn-success mb-2" (click)="openAjout()">Ajouter une nouvelle tache</button>

    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-secondary">
                <th>#</th>
                <th>Date</th>
                <th>Taches effectuées</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="selectedStage.livret_stage.length!=0">
                <tr *ngFor="let tache of selectedStage.livret_stage;let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ tache.date | date : "d/M/yyyy" }}</td>
                    <td>{{ tache.tache }}</td>
                    <td class="text-center"><button class="btn btn-primary" (click)="openEdit(tache)" > editer </button></td>
                    <td class="text-center"><button class="btn btn-danger btn-sm" (click)="supprimerTache(tache.id_ls)" > supprimer </button></td>
                </tr>
            </ng-container>

            <ng-container *ngIf="selectedStage.livret_stage.length == 0">
                <tr>
                    <td colspan="4" class="text-center">Aucune tache n'est enregistrée</td>
                </tr>
            </ng-container>
        </tbody>




    </table>

</div>




<ng-template #pop let-modal>
          
    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Ajouter une nouvelle proposition :</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    
      <div class="modal-body p-5 pt-0">
  
        <form [formGroup]="tacheForm" (ngSubmit)="submit()">

            <input type="date" id="exampleInput" name="input" formControlName="date" class="form-control col mx-1"
          placeholder="yyyy-MM-dd" min="2023-01-01" [min]="getDate(selectedStage.date_debut)" [max]="getDate(selectedStage.date_fin)" />

            <label for="tache">Tache:</label><br>
            <textarea name="tache" class="form-control" id="tache" cols="30" rows="10" formControlName="tache"></textarea><br>

            
          <input type="submit" class="btn btn-success m-3" value="Enregistrer" [disabled]="tacheForm.invalid" >
          <input type="button" class="btn btn-secondary" value="Annuler" (click)="closePop()">
  
      </form>
  
      </div>
    </div> 
  </ng-template>


