.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcf8f4; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
      
  .container:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      background: radial-gradient(circle, #ffffff, transparent 70%); 
      transform: translate(-25%, -25%);
      z-index: 0;
    }
    .container h2 {
      font-size: 32px;
      color: #5e0326; 
      margin-bottom: 20px;
      text-align: center;
      z-index: 1;
    }
    .container h3 {
      font-size: 24px;
      color: #9b1649; 
      margin-bottom: 20px;
      text-align: center;
      z-index: 1;
    }
    .container p {
      font-size: 16px;
      color: #6c757d; 
      margin-bottom: 20px;
    }
    .btn-primary {
      background-color: rgba(252, 229, 237, 0.832); 
      border: none;
      color: #050505f5;
      padding: 8px 16px;
      border-radius: 8px;
      transition: background-color 0.3s;
    }
    .btn-info:hover {
      background-color: rgba(255, 255, 255, 0.614); 
    }
    
    .btn-primary:hover {
      background-color: rgba(255, 255, 255, 0.614); 
    }
    
    .btn-info {
      background-color: rgba(252, 229, 237, 0.832); 
      border: none;
      color: #050505f5;
      padding: 8px 16px;
      border-radius: 8px;
      transition: background-color 0.3s;
    }
    .form-label {
      font-weight: bold;
      color: #333; 
    }
    .modal-content {
      background-color: #fff; 
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .btn {
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }