
<div class="constainer m-3">

<form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border p-3 rounded-3">
    <div class="row g-0">
       <div class="col text-center p-2 mb-3 bg-light">
           <span class="fs-3">Deposer</span>
       </div>
    </div>
   
   <div class="row">
      <div class="col mb-3">
       <label for="firstname" class="form-label">Nom</label>
       <input type="text" class="form-control" id="firstname "
       formControlName="nom">
      </div>
   
      <div class="col mb-3">
       <label for="lastname" class="form-label">Prénom</label>
       <input type="text" class="form-control" id="lastname " formControlName="prenom" >
      </div>
   
   </div>
   
   <div class="row">
       <div class="col mb-3">
           <label for="email" class="form-label">Email</label>
           <input type="email" class="form-control" id="email "  formControlName="email">
           <div class="form-text"></div>
       </div>
   
   </div>
   <div class="row">
       <div class="col mb-3">
           <label for="mobile" class="form-label">Numéro Téléphone</label>
           <input type="text" class="form-control" id="mobile"  formControlName="tel" >
           <div class="form-text"></div>
       </div>
   
   
   
       <div class="col ps-3 mb-3">
           <div class="m-1">Genre</div>
           <div class="form-check form-check-inline">
               <input type="radio" class="form-check-input" value="m" id="male" formControlName="genre" >
               <label class="form-check-label" for="male">Masculin</label>
           </div>
   
           <div class="form-check form-check-inline">
               <input type="radio" class="form-check-input" value="f" 
               id="female" formControlName="genre" >
               <label class="form-check-label" for="female">féminin</label>
           </div>
       </div>
   </div>
   
   
   
   
       <div class="row">
           <div class="col-6 offset-3">
               <div class="d-grid">
   <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" >Envoyer</button>
               </div>
           </div>
       </div>
   
   
   
    
   
        
   </form>

</div>