<div class="container mt-3" >
    <div class="profile ">
      <h1 class="mb-2">Liste des sociétés</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr class="table-secondary">
                    <th>#</th>
                    <th>Nom</th>
                    <th>E-Mail</th>
                    <th>Adresse</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr *ngFor="let i of listeSocietes; let x = index">
                    <td>{{x+1}}</td>
                    <td>{{i.nom}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.adresse}}</td>
                    <td>{{i.contact}}</td>
                    <td> <input type="button" value="Editer" (click)="onModifie(i)"  class="btn btn-primary btn-sm "></td>
          
            </tbody>
        </table>
        <input type="button" value="Ajouter Une Entreprise" (click)="openAjout()"  class="btn btn-primary">
    </div>
  </div>
  

  <ng-template #pop let-modal>
          
    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Ajouter une nouvelle proposition :</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    
      <div class="modal-body p-5 pt-0">
  
        <form [formGroup]="popform" (ngSubmit)="onSubmit()">
          <label for="id_ent">ID:</label><br>
            <input type="text" id="id_ent" name="id_ent" formControlName="id_ent" class="form-control" readonly >

            <label for="nom" class="form-label mt-3">Nom:</label><br>
            <input type="text" id="nom" name="nom" class="form-control" formControlName="nom" >

            <label for="email" class="form-label mt-3"> Email:</label><br>
            <input type="email" id="email" name="email" formControlName="email" class="form-control" >
                
            <label for="adresse" class="form-label mt-3">Adresse:</label><br>
            <input type="text" id="adresse" name="adresse" class="form-control" formControlName="adresse" >

            <label for="contact" class="form-label mt-3">Contact</label>
            <input type="text" class="form-control" id="contact" name="contact" formControlName="contact" >

            <label for="secteuractivite" class="form-label mt-3">Secteur Activite</label>
            <input type="text" class="form-control" id="secteuractivite" name="secteuractivite" formControlName="secteuractivite" >
            <small class="mb-2">Les secteurs doivent être séparé par une , </small><br>

            <label for="password" class="form-label mt-3">Password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password" >

            <label for="logo" class="form-label mt-3">Logo</label>
            <input type="text" class="form-control" id="logo" name="logo" formControlName="logo" >

  
          <input type="submit" class="btn btn-success m-3" value="Enregistrer" [disabled]="popform.invalid">
          <input type="button" class="btn btn-secondary" value="Annuler" (click)="modal.close()">
  
      </form>
  
      </div>
    </div> 
  </ng-template>













  <ng-template #pop1 let-modal>
          
    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Ajouter une nouvelle proposition :</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    
      <div class="modal-body p-5 pt-0">
  
        <form [formGroup]="popform1" (ngSubmit)="onAjout()">
          <!-- <label for="id_ent">ID:</label><br>
            <input type="text" id="id_ent" formControlName="id_ent" class="form-control" ><br> -->

            <label for="nom">Nom:</label><br>
            <input type="text" id="nom" class="form-control" formControlName="nom" >

            <label for="email" class="form-label mt-3"> Email:</label><br>
            <input type="email" id="email" formControlName="email" class="form-control" >
                
            <label for="adresse" class="form-label mt-3">Adresse:</label><br>
            <input type="text" id="adresse" class="form-control" formControlName="adresse" >

            <label for="contact" class="form-label mt-3">Contact</label>
            <input type="text" class="form-control" id="contact" formControlName="contact" >

            <label for="secteuractivite" class="form-label mt-3">Secteur Activite</label>
            <input type="text" class="form-control" id="secteuractivite" formControlName="secteuractivite" >
            <small class="mb-2">Les secteurs doivent être séparé par une , </small><br>

            <label for="password" class="form-label mt-3">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" >

            <label for="logo" class="form-label mt-3">Logo</label>
            <input type="text" class="form-control" id="logo" formControlName="logo" >

  
          <input type="submit" class="btn btn-success m-3" value="Enregistrer" [disabled]="popform1.invalid">
          <input type="button" class="btn btn-secondary" value="Annuler" (click)="modal.close()">
  
      </form>
  
      </div>
    </div> 
  </ng-template>
  
  