<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/suivi_de_stage.png" alt="SuiviStage">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">

                        <ng-container *ngIf="!user">

                            <li><a class="nav-link" routerLink="/layout">Home</a></li>
                            <li><a class="nav-link" [routerLink]="['/home']" fragment="services">Services</a></li>
                            <li><a class="nav-link" [routerLink]="['/home']" fragment="about">About US</a></li>
                            <li><a class="nav-link" [routerLink]="['/home']" fragment="contact-section">Contact Us</a></li>
                        </ng-container>

                        <!-- <li class="scroll-to-section"><a href="#services">Services</a></li>
                        <li class="scroll-to-section"><a href="#about">About US</a></li> 
                        <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
                        <a routerLink="/register"><button id="signup-btn" >Sign Up</button></a>
                        <a routerLink="/login" ><button id="signin-btn">Sign In</button> </a> -->

                        <!-- admin -->
                        <ng-container *ngIf="user && user.role =='admin' ">
                            
                            <li><a class="nav-link" routerLink="/admin/liste-societes" routerLinkActive="actif" >Les Societes</a></li>
                        
                            <li><a class="nav-link" routerLink="/admin/liste-etudiants" routerLinkActive="actif" >Les Etudiants</a></li>
                        
                            <li><a class="nav-link" routerLink="/admin/liste-encadrants" routerLinkActive="actif" >Les Encadrants</a></li>
                        
                            <li><a class="nav-link" routerLink="/admin/liste-stages" routerLinkActive="actif" >Les Stages</a></li>
                        </ng-container>

                        <!-- etudiant -->
                        <ng-container *ngIf="user && user.role =='etudiant' ">
                            <li><a class="nav-link" routerLink="/etudiant/liste_offres" routerLinkActive="actif" >Les Offres Disponibles</a></li>
                            <li><a class="nav-link" routerLink="/etudiant/profil-etudiant" routerLinkActive="actif" >Profile</a></li>
                            <li><a class="nav-link" routerLink="/etudiant/livret_stage" routerLinkActive="actif" >Livret Stage</a></li>

                        </ng-container>

                        <!-- entreprise -->
                        <ng-container *ngIf="user && user.role =='entreprise' ">

                        <li>
                            <a class="nav-link" routerLink="/entreprise/profile" routerLinkActive="actif" >Profil</a>
                        </li>

                        <li>
                            <a class="nav-link" routerLink="/entreprise/Stagiaire" routerLinkActive="actif" >stagiaire</a>
                        </li>

                        <li>
                            <a class="nav-link" routerLink="/entreprise/liste-offre" routerLinkActive="actif" >Les proposition publiées</a>
                        </li>
                        </ng-container>

                        <!-- encadrant -->
                        <ng-container *ngIf="user && user.role =='encadrant' ">
                        
                        </ng-container>
                        
                        
                        <ng-container *ngIf="!user">
                        <li>
                            <!-- <button class="btn btn-success mx-1" id="signin-btn" routerLink="/login" >Connexion</button>
                            <button class="btn btn-secondary mx-1" id="signup-btn" routerLink="/register" >Register</button> -->
                            <button id="signin-btn" class="mx-1" routerLink="/login" >Connexion</button>
                            <button id="signup-btn" class="mx-1" routerLink="/register" >Register</button> 
                        </li>
                        </ng-container>

                        <ng-container *ngIf="user">
                            <li >
                                <p style="display: inline-block;color: white;">Bonjour {{user.nom}} {{user.prenom ?? ""}}</p>
                                <button id="signin-btn" class="mx-2" (click)="logout()" >Deconnexion</button>
                            </li>
                            </ng-container>


                    </ul>        
                    
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->